.head {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    border: 1px solid #d2d2d4;
}

.head mat-icon {
    padding-right: 5px;
    margin-left: 20px;
}


.title {
    border-right: 1px solid #d2d2d4;
    text-decoration: none;
    color: black;
    width: 19.85%;
    height: 100%;
    display: flex;
    align-items: center;
}

.title h1 {
    margin: 0;
    padding:0 16px;
}